aiofiles
annotated-types
anyio
av>=14.1.0
cbase64
beautifulsoup4
blis
boto3
botocore
bs4
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
distro
dnspython
einops
email_validator
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl#sha256=e451a83d6df79b87e9eed0cb553f03e99e36a3bab18a7b79f0dcfd1fdf875e12
et_xmlfile
exceptiongroup
faiss-cpu
fastapi
fastapi-cli
filelock
fsspec
groq
h11
httpcore
httptools
httpx
huggingface-hub
idna
inflect>=7.5.0
itsdangerous
Jinja2
jiter
jmespath
joblib
kokoro @ git+https://github.com/hexgrad/kokoro.git
langcodes
language_data
loguru
lxml
marisa-trie
markdown-it-py
MarkupSafe
matplotlib>=3.10.0
mdurl
misaki[en,ja,ko,zh] @ git+https://github.com/hexgrad/misaki.git
mpmath
munch
murmurhash
mutagen
networkx
nodeenv
numpy
openai
openpyxl
orjson
packaging
pillow
phonemizer-fork
preshed
prisma
psutil
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydub
Pygments
PyMuPDF
PyPDF2
python-dateutil
python-docx
python-dotenv
python-multipart
python-pptx
PyYAML
regex
requests
rich
rich-toolkit
rocksdict
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
six
smart-open
sniffio
soundfile
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlalchemy
srsly
starlette
StrEnum
sympy
thinc
threadpoolctl
tiktoken
tokenizers
tomlkit
torch
tqdm
transformers
typer
typing_extensions
ujson
urllib3
uvicorn
uvloop
wasabi
watchfiles
weasel
websockets
wrapt
XlsxWriter













